<div class="parent">
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Thread Title</mat-label>
      <input matInput >
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>1st Post in Thread</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>
  <button mat-raised-button class="blueButton" (click)="addNewThread" [routerLink]="['/astros']">Post</button>
</div>
<div class="background"></div>