<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="astros"><button class="blueButton" mat-raised-button>Astros</button></mat-grid-tile>

    <mat-grid-tile class="mlb"><button class="orangeButton" mat-raised-button>MLB</button></mat-grid-tile>

    <mat-grid-tile class="minors"><button class="orangeButton" mat-raised-button>Minors</button></mat-grid-tile>
    
    <mat-grid-tile class="else"><button class="blueButton" mat-raised-button>The Rest</button></mat-grid-tile>
  
</mat-grid-list>