<div class="parent">
    <!-- <form class="example-form"> -->   
        <mat-form-field class="example-full-width">
          <mat-label>Type Post Here</mat-label>
          <textarea matInput [(ngModel)]="post" name="post"></textarea>
        </mat-form-field>
      <!-- </form> -->
      <div class="inline">
        <button mat-raised-button class="blueButton" (click)="addNewPost()">Post</button>
        <button mat-raised-button class="blueButton" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <div class="background"></div>
